{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Diagon</title>
  <!-- Bootstrap core CSS -->
  {% if ON_SERVER %}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  {% else %}
     <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  {% endif %}
 
  <style type="text/css">
  .red{
    color: red;
  }
  .green{
    color: green;
  }
  .affix{
    top:34px;
  }
  .userpanel{
    min-height:600px;
  }
  </style>
</head>
<body>
<!-- <div class="jumbotron" style="margin-bottom:0px">
  <h1>Diagón</h1>
  <p></p>
</div> -->
<nav class="navbar navbar-static-top navbar-inverse" role="navigation" style="margin:0px;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">TN</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">Diagón</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
        <li><a href="{% url 'team' %}">Equipo Médico</a></li>
        <li><a href="{% url 'user' %}">Área de Usuario</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text">Conectado como Fran Baena</p></li>
        <li><button type="button" class="btn btn-default navbar-btn" style="margin-right:15px;">Cerrar sesión</button></li>
      </ul>
      <!--
      <form class="navbar-form navbar-right">
        <a href="{% url 'login' %}"><button type="button" class="btn btn-default">Acceder</button></a>
      </form>
      -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% block content %}{% endblock %}
<!-- Latest compiled and minified JavaScript 

-->

  {% if ON_SERVER %}
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  {% else %}
     <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  {% endif %}

</body>
</html>