{% extends 'user_base.htm'%}
  {% block user_content %}
<h3 style="margin-top:0px; margin-bottom:40px">Área de Usuario</h3>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>
    <div class="col-sm-10">
      <p class="form-control-static">Francisco</p>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Apellidos</label>
    <div class="col-sm-10">
      <p class="form-control-static">Dummie Model</p>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">NUSS.</label>
    <div class="col-sm-10">
      <p class="form-control-static">1234 56789 O</p>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Dirección</label>
    <div class="col-sm-10">
      <p class="form-control-static">Blvd. Louis Pasteur, 35<br></p>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">CP.</label>
    <div class="col-sm-10">
      <p class="form-control-static">29027</p>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Población</label>
    <div class="col-sm-10">
      <p class="form-control-static">Málaga</p>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Provincia</label>
    <div class="col-sm-10">
      <p class="form-control-static">Málaga</p>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <p class="form-control-static">me@example.com</p>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Tlf</label>
    <div class="col-sm-10">
      <p class="form-control-static">666666666</p>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Tipo Sanguíneo</label>
    <div class="col-sm-10">
      <p class="form-control-static">A+</p>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Alergias</label>
    <div class="col-sm-10">
      <p class="form-control-static">Gatos<br>Ácaros<br>Polen</p>
    </div>
  </div>
</form>

  {% endblock %}